<ion-header>
  <ion-toolbar>
    <ion-title>Atualizar Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="atualizarUsuario()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="usuario.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome</ion-label>
      <ion-input [(ngModel)]="usuario.sobrenome" name="sobrenome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Idade</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.idade" name="idade" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="usuario.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input [(ngModel)]="usuario.senha" name="senha" required></ion-input>
    </ion-item>


    <ion-button expand="block" type="submit" color="success">Atualizar</ion-button>
    <ion-button expand="block" color="danger" (click)="voltar()">Cancelar</ion-button>
    
    <div id="exclusao">
      <p class="info"> <strong>Ao clicar no botão abaixo sua conta será excluída ocasionando a perca do balanço de despesas </strong></p>
      <p class="info"> <strong>TEM CERTEZA QUE DESEJA EXCLUIR A CONTA ? </strong></p>
      <ion-button expand="block" id="excluir" (click)="excluirConta()">Excluir Conta</ion-button>
    </div>
  </form>
</ion-content>