<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Despesa</ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" (click)="voltar()">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="salvarDespesa()">
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input [(ngModel)]="novaDespesa.descricao" name="descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Valor</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="novaDespesa.valor"
        name="valor"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data</ion-label>
      <br />
      <ion-datetime
        [(ngModel)]="novaDespesa.data"
        name="data"
        display-format="DD/MM/YYYY"
        presentation="date" 
        required
      ></ion-datetime>
      <br />
    </ion-item>
    

    <ion-button expand="block" type="submit" color="success">Salvar</ion-button>
    <ion-button expand="block" color="danger" (click)="voltar()">Cancelar</ion-button>
  </form>
</ion-content>
